body{
    font-weight: bold;
}

h4 {
    text-align: center;
    margin-bottom: 0;
}

table {
    border: 5px;
    border-style: outset;
    border-color: #ccc;
    width: 98.6vw;
}

th {
    text-align: center;
}

td {
    border: 1px solid #ccc;
}

#celda1 {
    background-color: #9AFD9C;
    text-align: center;
}

#celda2 {
    background-color: #66FEFF;
}

#celda3, #celda5, #celda8 {
    color: #D71121;
}

#celda3, #celda4, #celda5, #celda7, #celda8 {
    text-align: center;
}

#celda6 {
    background-color: #FF99FF;
    text-align: right;
    padding-top: 20px;
}

