body {
    margin: 0;
}

div {
    width: 100vw;
}

#div1 {
    background-color: blue;
    height: 15vh;
}

#div2 {
    background-color: red;
    height: 65vh;

    display: flex;
}

#div3 {
    background-color: green;
    height: 20vh;
}

#div-iz{
    background-color: lightblue;
    height: 65vh;
    width: 30vw;
}

#div-de{
    background-color: violet;
    height: 65vh;
    width: 70vw;
}